.more {
   @include m.flex(center);
   padding: f.rem(20px) 0 f.rem(10px);

   &_button {
      @include m.flex(center);
      align-self: center;
      min-width: 225px;
      min-height: 48px;
      padding: f.rem(10px);
      background: var(--info-link-color-hover, v.$orangeBlack);
      border-radius: 5px;
      font-family: Coiny, Verdana, Geneva, Tahoma, sans-serif;
      color: var(--movie-link-color, v.$orangeBlack);
      text-transform: uppercase;
      letter-spacing: 3px;
      text-align: center;
      @include m.animatebtn();
      @include m.adaptiveValue('font-size', 20px, 16px);

      @include m.focused {
         color: var(--info-link-color-hover, v.$orangeBlack);
         background: var(--movie-link-color, v.$orangeBlack);
      }
   }

   &_loader {
      @extend %fullwhp;
      @include m.flex(center);
      padding: f.rem(5px);
   }
}
