.movie {
   @extend %fullwhp;
   @include m.flex();
   gap: f.rem(10px);

   &_left_sidebar {
      &_poster {
         position: relative;
         width: 100%;
         height: fit-content;
         overflow: hidden;
         @include m.membrane();

         & img {
            display: block;
            max-width: 100%;
            aspect-ratio: 304/456;
            object-fit: cover;
            object-position: center top;
         }
      }
   }
}
