//==========================================Цвета====================================================//

$black: #000000;
$blackUltra: #111;
$blackUltraTransparent: rgba(45, 45, 45, 0.4);
$blackLight: #2b2b2b;
$blackUltraLight: #232323;
$blackSubtitleLight: #252525;
$blackUltraTransparent: rgba(26, 26, 26, 0.9);
$blackLightTransparent: rgba(43, 43, 43, 0.9);
$white: #ffffff;
$whiteSubtitleLight: #cfcfcf;
$whiteLux: #e4e4e4;
$whiteDark: #e0dfdc;
$gray: #a8a8a8;
$grayTransparent: rgba(168, 168, 168, 0.9);
$grayLight: #e0dfdc;
$grayMiddle: #757575;
$grayMiddleTransparent: rgba(117, 117, 117, 0.9);
$graySuperMiddleTransparent: rgba(90, 90, 90, 0.9);
$greyDisabledElement: rgba(117, 117, 117, 0.5);
$orange: #f60;
$yellow: #fc0;
$orangeBlack: #d25500;
$orangeBlackTransparent: rgba(253, 110, 1, 0.7);
$yellowClack: #daae00;
$yellowClackTransparent: rgba(218, 174, 0, 0.7);
$comicsRad: #800001;
$amberDark: #ffbf00;
$yellowJuce: #ffb51d;
$frameBgColor: rgba(0, 0, 0, 0.5);

//==========================================Настройки===============================================//

// Цвет текста по-умолчанию
$defaultTextColor: $gray;
