%pagination-effect {
   @include m.focused {
      color: var(--error-color, v.$comicsRad);
   }

   @include m.hover {
      color: var(--disable-pagination-button, v.$gray);
      opacity: 0.5;
   }
}

.pagination {
   @include m.iflex(center);
   align-self: center;
   gap: f.rem(4px);
   @extend %bblockstyle;
   padding: f.rem(4px);
   border-radius: 5px;

   &_link {
      @extend %noselect;
      @extend %taphighlight;
      padding: f.rem(4px);
      color: var(--button-color, v.$whiteDark);
      @include m.adaptiveValue('font-size', 24px, 18px);

      &[tabindex='-1'] {
         color: var(--disable-pagination-button, v.$gray);
         pointer-events: none;
      }

      &:not([tabindex='-1']) {
         @extend %pagination-effect;
      }
   }

   &_buttons {
      @include m.flex(center);
   }
}
