.back {
   @include m.flex(center);
   gap: f.rem(2px);
   font-family: Coiny, Verdana, Geneva, Tahoma, sans-serif;
   color: var(--footer-link-color, v.$amberDark);
   text-align: center;
   text-transform: uppercase;
   background: none;
   @extend %link-effects;
   @include m.adaptiveValue('font-size', 22px, 20px);

   &_text {
      padding-top: f.rem(6px);
      color: inherit;
      transition: text-shadow 0.4s ease 0s;
   }

   &_icon {
      max-width: 100%;
      height: auto;
      color: inherit;
      overflow: hidden;
      transition: filter 0.4s ease 0s;
   }

   &:active {
      .back_text {
         @include m.luxtext(var(--movie-link-hover-color, v.$comicsRad), var(--movie-link-hover-color, v.$comicsRad));
      }

      .back_icon {
         @include m.luximage(var(--movie-link-hover-color, v.$comicsRad));
      }
   }
}
