%link-effects {
   transition: color 0.8s ease 0s;

   @include m.hover {
      color: var(--info-link-color-hover, v.$orangeBlack);
   }

   @include m.focused {
      color: var(--info-link-color-hover, v.$orangeBlack);
   }
}

.movie {
   &_content {
      &_links {
         @include m.flex(null, null, column);
         gap: f.rem(10px);
      }

      &_link {
         color: var(--footer-link-color, v.$amberDark);
         @extend %link-effects;
         @include m.adaptiveValue('font-size', 20px, 16px);
      }
   }
}
