.button {
   @extend %header-button-segment;
   padding: f.rem(5px) f.rem(10px);
   min-width: 40px;

   &_submit {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @include m.animatebtn();

      svg {
         display: block;
         max-width: 100%;
         aspect-ratio: 1 / 1;
         height: 100%;
      }

      &:disabled {
         cursor: default;
         color: v.$greyDisabledElement;
      }
   }
}
