.button {
   @include m.flex(center);
   padding: f.rem(5px) f.rem(10px);
   min-width: 40px;
   @include m.colors(var(--button-color, v.$whiteDark), var(--card-color, v.$blackLight));
   @include m.adaptiveValue('font-size', 16px, 12px);

   @include m.focused {
      color: var(--theme-button-color, v.$amberDark);

      svg {
         @include m.luximage(var(--theme-button-color, v.$amberDark));
      }
   }

   &_submit {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @include m.animatebtn();

      svg {
         display: block;
         max-width: 100%;
         aspect-ratio: 1 / 1;
         height: 100%;
      }

      &:disabled {
         cursor: default;
         color: v.$greyDisabledElement;
      }
   }
}
