@use '../../vars' as vars;
@use '../../mixins/' as mix;

%layout {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: minmax(75px, auto) 1fr minmax(25px, auto);
}

%bblockstyle {
   border-radius: 10px;
   border: 2px solid var(--card-bg, vars.$blackUltraTransparent);
   background-color: var(--card-color, vars.$blackLight);
}

%link-effects {
   transition: color 0.8s ease 0s;

   @include mix.hover {
      color: var(--info-link-color-hover, vars.$orangeBlack);
   }

   @include mix.focused {
      color: var(--info-link-color-hover, vars.$orangeBlack);
   }
}
