.player {
   @include m.flex(null, null, column);
   gap: f.rem(20px);
   width: 100%;
   height: fit-content;
   padding: f.rem(5px);

   &,
   & * {
      @extend %noselect;
      @extend %taphighlight;
   }

   &_title {
      color: var(--button-color, v.$whiteDark);
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      @include m.adaptiveValue('font-size', 19px, 15px);
   }

   &_frame {
      max-width: 100%;
      height: auto;
      min-width: fit-content;
      min-height: 225px;
      object-fit: cover;
      background-color: v.$frameBgColor;

      @include m.oversmalltablet {
         aspect-ratio: 1120/610;
      }
   }

   &_back {
      &_center {
         align-self: center;
      }
   }
}
