.player {
   @include m.flex(null, null, column);
   gap: f.rem(20px);
   width: 100%;
   height: fit-content;
   padding: f.rem(5px);

   &,
   & * {
      @extend %noselect;
      @extend %taphighlight;
   }

   &_title {
      color: var(--button-color, v.$whiteDark);
      font-variant: small-caps;
      font-weight: bold;
      text-align: center;
      text-wrap: balance;
      letter-spacing: 1px;
      @include m.uboldb('#{var(--button-color, v.$whiteDark)}');
      @include m.adaptiveValue('font-size', 30px, 18px);
   }

   &_link {
      @extend %link-effects;
      color: var(--footer-link-color, v.$amberDark);

      &:active {
         @include m.luxtext(var(--movie-link-hover-color, v.$comicsRad), var(--movie-link-hover-color, v.$comicsRad));
      }
   }

   &_frame {
      max-width: 100%;
      height: auto;
      min-width: fit-content;
      min-height: 225px;
      object-fit: cover;
      background-color: v.$frameBgColor;

      @include m.oversmalltablet {
         aspect-ratio: 1120/610;
      }
   }

   &_back {
      &_center {
         align-self: center;
      }
   }
}
