.similar {
   @include m.flex(null, null, column);
   min-width: 228px;
   max-width: 228px;
   border: 3px solid var(--movie-link-color, v.$orangeBlack);
   // margin: 0 auto;

   @include m.mobile {
      min-width: 255px;
      max-width: 255px;
   }

   &_link {
      @extend %fullwhp;
      @include m.flex(center);
      max-width: 100%;
      min-height: f.rem(80px);
      @include m.movielink();

      & {
         padding: f.rem(10px);
         font-size: inherit;
         line-height: 1.25;
         text-align: center;
         transition: color 0.7s ease 0s;
      }

      & span {
         display: block;
         width: calc(100%);
         word-wrap: break-word;
         @include m.adaptiveValue('font-size', 16px, 12px);
      }
   }

   &,
   & * {
      @extend %noselect;
      @extend %taphighlight;
   }

   @include m.hover {
      .similar_link {
         color: var(--movie-link-hover-color, v.$comicsRad);
      }

      .similar_title {
         background-color: var(--movie-link-color, v.$orangeBlack);
      }

      .similar_image > img {
         transform: scale(1.15);
      }
   }

   &_title {
      flex: 1 1 auto;
      width: 100%;
      max-width: 100%;
      text-align: center;
      color: var(--movie-link-color, v.$orangeBlack);
      border-top: 3px solid var(--movie-link-color, v.$orangeBlack);
      text-transform: uppercase;
      font-weight: bold;
      transition: background-color 0.7s ease 0s;
   }

   &_image {
      position: relative;
      width: 100%;
      height: fit-content;
      overflow: hidden;
      @include m.membrane();

      > img {
         display: block;
         width: 100%;
         height: fit-content;
         max-width: 100%;
         aspect-ratio: 228/328;
         object-fit: cover;
         object-position: center;
         transition: transform 0.7s ease 0s;
         touch-action: none;
      }
   }
}
