.facts {
   @include m.flex(null, null, column);
   gap: f.rem(10px);

   &_title {
      padding: f.rem(10px) f.rem(10px) 0;
      font-variant: small-caps;
      font-weight: bold;
      text-align: center;
      color: var(--info-title, v.$whiteDark);
      @include m.adaptiveValue('font-size', 26px, 16px);
   }

   &_back {
      &_center {
         align-self: center;
      }
   }
}
