.scheme {
   &_button {
      @extend %centerflex;
      background: none;
      color: var(--theme-button-color, v.$amberDark);
      border-radius: f.rem(5px);
      overflow: hidden;
      @include m.luximage(var(--theme-button-color, v.$amberDark));
      @include m.adaptiveValue('font-size', 49px, 23px);

      svg {
         max-width: 100%;
         aspect-ratio: 1 / 1;
         color: inherit;
      }

      @include m.focused {
         box-shadow: 0 0 5px 3px var(--theme-button-color, v.$amberDark);
         @include m.luximage(var(--theme-button-color, v.$amberDark));
      }

      @include m.mobile {
         order: 1;
      }
   }
}
