.scheme {
   &_button {
      @extend %bblockstyle;
      @include m.flex(center);
      padding: f.rem(5px);
      min-width: 42px;
      min-height: 42px;
      @include m.colors(var(--button-color, v.$whiteDark), var(--card-color, v.$blackLight));
      @include m.adaptiveValue('font-size', 16px, 12px);
      @include m.focused {
         color: var(--theme-button-color, v.$amberDark);

         svg {
            @include m.luximage(var(--theme-button-color, v.$amberDark));
         }
      }

      @include m.smalltablet {
         order: 1;
         min-width: 65px;
      }
   }
}
