.scheme {
   &_button {
      @extend %bblockstyle;
      @extend %header-button-segment;
      padding: f.rem(5px);
      min-width: 42px;
      min-height: 42px;
      transition:
         color ease-out 255ms,
         filter ease-out 255ms;

      @include m.smalltablet {
         order: 1;
         min-width: 65px;
      }
   }
}
