.sequels {
   &_and_prequels {
      @include m.flex(null, null, column);
      gap: f.rem(12px);
      width: 100%;
      height: fit-content;
      padding: f.rem(10px) 0 f.rem(5px) f.rem(5px);
      margin-left: auto;

      @include m.smalltablet {
         max-width: 100%;
         padding-right: f.rem(5px);
      }

      :not([class*='facts']):not([class*='player']) + & {
         @include m.oversmalltablet {
            max-width: calc(100% - 314px);
         }
      }

      [class*='facts'] + &,
      [class*='player'] + & {
         [class*='sequels_and_prequels_title'] {
            color: var(--button-color, v.$whiteDark);
            text-transform: none;
            text-align: center;
            padding-top: f.rem(30px);
         }

         [class*='sequels_and_prequels_body'] {
            justify-content: center;
         }
      }

      &,
      & * {
         @extend %noselect;
         @extend %taphighlight;
      }

      &_body {
         @include m.flex();
         gap: f.rem(10px);
         flex-wrap: wrap;
         width: 100%;

         @include m.smalltablet {
            justify-content: center;
         }
      }

      &_title {
         color: var(--button-color, v.$whiteDark);
         font-weight: bold;
         line-height: 1.3;
         @include m.adaptiveValue('font-size', 19px, 15px);

         @include m.smalltablet {
            text-align: center;
         }
      }
   }
}
